.withHour {
    color: var(--aqua);
    font-weight: 600;
}

.addHour {
    color: var(--aqua);
    text-decoration: underline;


    cursor: pointer;
}

.expired {
    color: var(--gray-400);
    cursor: not-allowed
}