.container {
    display: flex;
    gap: 1rem;
    align-items: center;

    p {
        font-size: 0.85rem;
    }

    .month {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        p {
            color: var(--gray-500);
        }

        svg {
            stroke: var(--gray-500)
        }
    }

    .selectDate {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        p {
            font-weight: 600;
        }

        svg {
            stroke: var(--gray-300)
        }
    }
}