.header {
    width: 100%;
    height: 56px;
    background-color: var(--aqua);
    display: flex;
    justify-content: flex-end;
}

.userInfo {
    min-width: 200px;
    position: relative;
    overflow: hidden;

    &:hover {
        cursor: pointer;

        .initialSection {
            visibility: hidden;
        }

        .signOut {
            opacity: 1;
            right: 0;
        }
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        
        height: 100%;
        width: 100%;
        padding: 0.5rem 1rem;
        transition: all 0.3s ease-in-out;

        p {
            color: var(--white);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.8rem;
        }

        svg {
            color: var(--white);
        }

        &.initialSection {
            background-color: #4FABAB;
            transition: all 0.3s linear;
        }

        &.signOut {
            position: absolute;
            display: flex;
            opacity: 0;
            background-color: #C06161;
            transition: transform 0.3s ease-in-out, opacity 0 linear;
            top: 0;
            right: -100%;
        }
    }
}